# Ignore the data folder
data/

# Ignore virtual environment
.venv/
__pycache__/
*.pyc
.DS_Store

# --- Airflow Logs ---
logs/
*.log

# --- dbt build artifacts ---
transform/target/
transform/dbt_packages/
transform/logs/